<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.0/css/all.min.css"
        integrity="sha512-ApSLB1Pd3/bZN8fWB/RG9YhN/7bd9Hkf3AGaE2mPfebjrxagjuBtx2GcgdqIlJkUzwylBo61r9Xa9NmgBI0swA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>

<body>
    <div class="login">
        <i class="fa-brands fa-snapchat"></i>
        <h1>Log in</h1>
        <form action="" class="frm">
            <label for="">Username or Email</label>
            <input type="text" id="log">
            <label for="">Password</label>
            <input type="password" id="pwd">
        </form>
        <a href="">forgot password</a>
  <button id="btn" disabled>Log in</button>
  </div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>